{% extends 'base.html.twig' %}

{% block title %}rennaissance






{% endblock %}

{% block body %}


<div class="container mt-4">
<table class="table table-hover">
  <H1>rennaisance</H1>

    
        
    
    <thead>
      <tr>
        <th scope="col">numero</th>
        <th scope="col">nom</th>
        <th scope="col">prénom</th>
        <th scope="col">région</th>
        <th scope="col">département</th>
        <th scope="col">circonscription</th>
        <th scope="col">profession</th>
      </tr>
    </thead>
    <tbody>
{% for ren in rens %}
      <tr class="table-light">

    

        <td>{{ ren.id}}</td>
        <td>{{ ren.nomren}}</td>
        <td>{{ ren.preren}}</td>
        <td>{{ ren.regren}}</td>  
        <td>{{ren.depren}}</td>
        <td>{{ ren.cirren}}</td>
        <td>{{ren.proren}}</td>
     </tr>
   {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
