{% extends 'base.html.twig' %}

{% block title %}Horizons et apparentés




{% endblock %}

{% block body %}


<div class="container mt-4">
<table class="table table-hover">
  <H1>Horizons et apparentés</H1>

    
        
    
    <thead>
      <tr>
        <th scope="col">nom</th>
        <th scope="col">prénom</th>
        <th scope="col">région</th>
        <th scope="col">département</th>
        <th scope="col">circonscription</th>
        <th scope="col">profession</th>
      </tr>
    </thead>
    <tbody>
{% for hor in hors %}
      <tr class="table-light">

    

        <td>{{ hor.nomhor}}</td>
        <td>{{ hor.prenomhor}}</td>
        <td>{{ hor.reghor}}</td>  
        <td>{{hor.dephor}}</td>
        <td>{{ hor.cirhor}}</td>
        <td>{{hor.prohor}}</td>
     </tr>
   {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
