{% extends 'base.html.twig' %}

{% block title %}Les Républicains





{% endblock %}

{% block body %}


<div class="container mt-4">
<table class="table table-hover">
  <H1>Les Républicains</H1>

    
        
    
    <thead>
      <tr>
        <th scope="col">nom</th>
        <th scope="col">prénom</th>
        <th scope="col">région</th>
        <th scope="col">département</th>
        <th scope="col">circonscription</th>
        <th scope="col">profession</th>
      </tr>
    </thead>
    <tbody>
{% for lr in lrs %}
      <tr class="table-light">

    

        <td>{{ lr.nomlr}}</td>
        <td>{{ lr.prenomlr}}</td>
        <td>{{ lr.reglr}}</td>  
        <td>{{lr.deplr}}</td>
        <td>{{ lr.cirlr}}</td>
        <td>{{lr.prolr}}</td>
     </tr>
   {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
