{% extends 'base.html.twig' %}

{% block title %}Socialistes et apparentés (membre de l’intergroupe NUPES)







{% endblock %}

{% block body %}


<div class="container mt-4">
<table class="table table-hover">
  <H1>Socialistes et apparentés (membre de l’intergroupe NUPES)

</H1>

    
        
    
    <thead>
      <tr>
        <th scope="col">numero</th>
        <th scope="col">nom</th>
        <th scope="col">prénom</th>
        <th scope="col">région</th>
        <th scope="col">département</th>
        <th scope="col">circonscription</th>
        <th scope="col">profession</th>
      </tr>
    </thead>
    <tbody>
{% for so in sos %}
      <tr class="table-light">

    

        <td>{{  so.nomso}}</td>
        <td>{{ so.preso}}</td>
        <td>{{ so.regso}}</td>  
        <td>{{ so.depso}}</td>
        <td>{{ so.cirso}}</td>
        <td>{{so.proso}}</td>
     </tr>
   {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
