{% extends 'base.html.twig' %}

{% block title %}Gauche démocrate et républicaine - NUPES






{% endblock %}

{% block body %}


<div class="container mt-4">
<table class="table table-hover">
  <H1>Gauche démocrate et républicaine - NUPES
</H1>

    
        
    
    <thead>
      <tr>
        <th scope="col">numero</th>
        <th scope="col">nom</th>
        <th scope="col">prénom</th>
        <th scope="col">région</th>
        <th scope="col">département</th>
        <th scope="col">circonscription</th>
        <th scope="col">profession</th>
      </tr>
    </thead>
    <tbody>
{% for gnupes in gnupess %}
      <tr class="table-light">

    

        <td>{{ gnupes.nomgnupes}}</td>
        <td>{{ gnupes.prenomgnupes}}</td>
        <td>{{ gnupes.regiongnupes}}</td>  
        <td>{{gnupes.depgnupes}}</td>
        <td>{{ gnupes.cirgnupes}}</td>
        <td>{{gnupes.prognupes}}</td>
     </tr>
   {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
