{% extends 'base.html.twig' %}

{% block title %}Rassemblement National







{% endblock %}

{% block body %}


<div class="container mt-4">
<table class="table table-hover">
  <H1>Rassemblement National
</H1>

    
        
    
    <thead>
      <tr>
        <th scope="col">numero</th>
        <th scope="col">nom</th>
        <th scope="col">prénom</th>
        <th scope="col">région</th>
        <th scope="col">département</th>
        <th scope="col">circonscription</th>
        <th scope="col">profession</th>
      </tr>
    </thead>
    <tbody>
{% for rn in rns %}
      <tr class="table-light">

    

        <td>{{ rn.id}}</td>
        <td>{{ rn.nomrn}}</td>
        <td>{{ rn.prern}}</td>
        <td>{{ rn.regrn}}</td>  
        <td>{{rn.deprn}}</td>
        <td>{{ rn.cirrn}}</td>
        <td>{{rn.prorn}}</td>
     </tr>
   {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
